<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VARS (Debug).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VARS (Release).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VARS Multi-Architecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B0EEBB81BBA77BE0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEBC51BBA78AD0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEBD21BBA79070047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEBDB1BBA79070047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEBEE1BBA798F0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEBF71BBA798F0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEC361BBB5F380047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEC3F1BBB6C6A0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B0EEC481BBB6C6A0047BFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF34A8F1BBA1EEC00CC4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF34A991BBA1EED00CC4088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
